<p style="color: green"><%= notice %></p>
<div class="unit">
<strong>Username: <%= @user.username%></strong>
<div>
  <%= "Has left "+ pluralize(@user.ratings.count, 'rating')  +" with an average rating of "+ @user.average_rating.to_s %>
</div>
<div>
<strong>Clubs</strong>
  <% @user.beer_clubs.each do |club| %>
  <li>
  <%= link_to club, club%>
  <% end%>
  </li>
</div>
<div>
<strong>Ratings</strong>
  <% @user.ratings.each do |rate| %>
  <li>
    <%= Beer.find_by id: rate.beer_id  %>
    <% if @user == current_user %>
        <%= link_to "Delete", rate, data: {turbo_method: :delete} %>
    <% end%>
  <% end %>
  </li>
</div>

<div>
<%= "Favourite style: "+ @user.favorite_style unless @user.favorite_style == nil %>
</div>

<div>
<%= "Favourite brewery: "+ @user.favorite_brewery unless @user.favorite_brewery == nil %>
</div>
<div>
  <%= link_to "Back to users", users_path %> |
  <% if @user == current_user%>
    <%= link_to "Edit this user", edit_user_path(@user) %> 
  <%= button_to "Destroy user", @user, method: :delete %>
  <% end%>
</div>
</div>
