<div id="<%= dom_id brewery %>">
 
  <h2>
    <%= brewery.name %>
  </h2>
  <em>
    Established in <%= brewery.year %> 
  </em>

  <p>Amount of beers: 
  <%= brewery.beers.count %>
  </p>

  <% brewery.beers.each do |beer| %>
  <li>
    <%= link_to beer.name, beer %>
  <% end %>
  </li>
    <% if !brewery.ratings.empty? %>
    Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> with an average of <%= brewery.average_rating %>
  <% end %>
</div>
