<p style="color: green"><%= notice %></p>

<h1 class="title">Breweries<span class="emoji">🌾</span></h1>

<p class="text"><%= link_to "New brewery", new_brewery_path if current_user %> <br>
Number of breweries: <%= @breweries.count %></p>

<div class="flex-container">
  <% @breweries.each do |brewery| %>
  <div class="unit">
      <p>
        <strong>Name:</strong>
        <%= link_to brewery.name, brewery %>
      </p> 
      <p>
        <strong>Year:</strong>
        <%= brewery.year %>
      </p>
    </div>
  <% end %>
</div>

